.content{
  .list1{
    position: relative;
    border-bottom: 1px solid #e4e4e4;
    >img{
      width: 100%;
      height: 2.4rem;
      height: 100%;
    }
    >div{
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -47%;
      background-color: #fff;
      font-size: 0;
      a{
        font-size: 0.28rem;
        color: #333333;
        padding: 0.2rem 0.61rem;
        display: inline-block;
        position: relative;
      }
      a::after{
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -6%;
        border-right: 1px solid #e4e4e4;
        right: 0;
        height: 40%;
      }
      a:last-child::after{
        border-right: 0;
      }
      a.sel{
        color: #ffffff;
        background-color: #1471c2;
      }
    }
  }
}