body {
  position: relative; }

.content .list2 {
  background-color: #f6f6f6;
  padding: 1px; }
  .content .list2 .row {
    margin: 0.3rem 0; }
    .content .list2 .row > div {
      float: left;
      width: 50%; }
    .content .list2 .row .slide a {
      display: block;
      background-color: #fff;
      width: 92%;
      margin: 0 auto; }
      .content .list2 .row .slide a > div:first-child {
        padding: 0.14rem 0; }
        .content .list2 .row .slide a > div:first-child img {
          width: 90%;
          margin: auto; }
      .content .list2 .row .slide a > div:last-child {
        font-size: 0;
        padding-bottom: 0.25rem; }
        .content .list2 .row .slide a > div:last-child > div {
          font-size: 0.2rem;
          color: #888888;
          margin: 0 0.2rem;
          padding: 0.2rem 0; }
        .content .list2 .row .slide a > div:last-child > div:first-child {
          font-size: 0.26rem;
          color: #555555;
          border-bottom: 1px dashed #e4e4e4; }

.mask {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column; }
  .mask .tan {
    width: 100%; }
    .mask .tan .slide > div:first-child {
      display: block;
      background-color: #fff;
      width: 90%;
      margin: 0 auto;
      padding-bottom: 0.2rem; }
      .mask .tan .slide > div:first-child > div:first-child {
        padding: 0.33rem 0; }
        .mask .tan .slide > div:first-child > div:first-child img {
          width: 90%;
          margin: auto; }
      .mask .tan .slide > div:first-child > div:last-child {
        font-size: 0;
        padding-bottom: 0.25rem; }
        .mask .tan .slide > div:first-child > div:last-child > div {
          font-size: 0.24rem;
          color: #888888;
          margin: 0 0.7rem;
          padding: 0.2rem 0; }
        .mask .tan .slide > div:first-child > div:last-child > div:first-child {
          font-size: 0.36rem;
          color: #555555;
          border-bottom: 1px dashed #e4e4e4; }
    .mask .tan .slide .fanhui {
      background-color: transparent; }
      .mask .tan .slide .fanhui div {
        border: 1px solid #ffffff;
        margin: 0.3rem auto;
        width: 0.8rem;
        height: 0.8rem;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        font-size: 0;
        position: relative; }
        .mask .tan .slide .fanhui div span {
          position: absolute;
          width: 70%;
          height: 0.02rem;
          background-color: #fff;
          top: 50%;
          margin-top: -1%;
          left: 50%;
          margin-left: -35%; }
        .mask .tan .slide .fanhui div span:first-child {
          -webkit-transform: rotateZ(45deg);
          -moz-transform: rotateZ(45deg);
          -ms-transform: rotateZ(45deg);
          -o-transform: rotateZ(45deg);
          transform: rotateZ(45deg); }
        .mask .tan .slide .fanhui div span:last-child {
          -webkit-transform: rotateZ(-45deg);
          -moz-transform: rotateZ(-45deg);
          -ms-transform: rotateZ(-45deg);
          -o-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg); }

/*# sourceMappingURL=aboutHonour.css.map */
