body{
  position: relative;
}
.content{
  .list2{
    background-color: #f6f6f6;
    padding: 1px;
    .row{
      margin: 0.3rem 0;
      >div{
        float: left;
        width: 50%;
      }
      .slide{
        a{
          display: block;
          background-color: #fff;
          width: 92%;
          margin: 0 auto;
          >div:first-child{
            //height: 2.5rem;
            padding: 0.14rem 0;
            img{
              width: 90%;
              margin: auto;
            }
          }
          >div:last-child{
            font-size: 0;
            padding-bottom: 0.25rem;
            >div{
              font-size: 0.2rem;
              color: #888888;
              margin: 0 0.2rem;
              padding: 0.2rem 0;
            }
            >div:first-child{
              font-size: 0.26rem;
              color: #555555;
              border-bottom: 1px dashed #e4e4e4;
            }
          }
        }
      }
    }
  }
}
.mask{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  .tan{
    //position: absolute;
    //top: 50% ;
    width: 100%;
    //margin-top: -65%;
    .slide{
      >div:first-child{
        display: block;
        background-color: #fff;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 0.2rem;
        >div:first-child{
          //height: 2.5rem;
          padding: 0.33rem 0;
          img{
            width: 90%;
            margin: auto;
          }
        }
        >div:last-child{
          font-size: 0;
          padding-bottom: 0.25rem;
          >div{
            font-size: 0.24rem;
            color: #888888;
            margin: 0 0.7rem;
            padding: 0.2rem 0;
          }
          >div:first-child{
            font-size: 0.36rem;
            color: #555555;
            border-bottom: 1px dashed #e4e4e4;
          }
        }
      }
      .fanhui{
        background-color: rgba(0,0,0,0);
        div{
          border: 1px solid #ffffff;
          margin: 0.3rem auto;
          width: 0.8rem;
          height: 0.8rem;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          font-size: 0;
          position: relative;
          span{
            position: absolute;
            width: 70%;
            height: 0.02rem;
            background-color: #fff;
            top: 50%;
            margin-top: -1%;
            left: 50%;
            margin-left: -35%;
          }
          span:first-child{
            -webkit-transform: rotateZ(45deg);
            -moz-transform: rotateZ(45deg);
            -ms-transform: rotateZ(45deg);
            -o-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
          }
          span:last-child{
            -webkit-transform: rotateZ(-45deg);
            -moz-transform: rotateZ(-45deg);
            -ms-transform: rotateZ(-45deg);
            -o-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
          }
        }
      }
    }
  }
}