#banner {
  width: 100%; }
  #banner img {
    width: 100%; }

.searchBox {
  height: 1.0rem;
  border: 1px solid #c8c8c8;
  border-radius: 0.08rem;
  position: relative;
  margin-top: 0.2rem; }
  .searchBox input {
    width: 73%;
    margin-left: 4%;
    display: block;
    height: 1.0rem;
    border: 0;
    color: #333333;
    font-size: 0.3rem; }
  .searchBox input::-moz-placeholder {
    color: #888888; }
  .searchBox input::-ms-input-placeholder {
    color: #888888; }
  .searchBox input::-webkit-input-placeholder {
    color: #888888; }
  .searchBox button {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.0rem;
    height: 1.0rem;
    display: block;
    background: url(../img/join02.png) no-repeat center center;
    background-size: 0.47rem; }
  .searchBox a {
    position: absolute;
    display: none;
    top: 0;
    right: 1.1rem;
    width: 0.4rem;
    height: 1.0rem;
    background: url(../img/close.png) no-repeat center center;
    background-size: 80%; }

.jobList {
  margin-top: 0.4rem; }
  .jobList .jobChild:nth-child(1) {
    border-top: 1px solid #e4e4e4; }
  .jobList .jobChild {
    border-bottom: 1px solid #e4e4e4;
    padding: 0.35rem 0;
    display: block;
    position: relative; }
    .jobList .jobChild .jobLeft {
      width: 80%; }
      .jobList .jobChild .jobLeft ul li:nth-child(1) {
        font-size: 0.3rem;
        color: #333333;
        line-height: 0.45rem;
        font-weight: bold; }
        .jobList .jobChild .jobLeft ul li:nth-child(1) p {
          text-indent: 0.54rem;
          background: url(../img/join03.png) no-repeat 0.2rem center;
          background-size: 0.22rem auto; }
      .jobList .jobChild .jobLeft ul li:nth-child(2) {
        font-size: 0.24rem;
        line-height: 0.45rem;
        color: #555555; }
        .jobList .jobChild .jobLeft ul li:nth-child(2) p {
          text-indent: 0.54rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
    .jobList .jobChild .jobRight {
      position: absolute;
      right: 0.2rem;
      top: 50%;
      margin-top: -0.2rem; }
      .jobList .jobChild .jobRight p {
        width: 1.0rem;
        height: 0.4rem;
        border-radius: 0.2rem;
        color: #888888;
        font-size: 0.2rem;
        line-height: 0.4rem;
        border-radius: 0.2rem;
        text-align: center;
        border: 1px solid #c8c8c8; }

.bottom-btn {
  font-size: 0;
  margin-top: 0.6rem; }
  .bottom-btn button {
    display: block;
    margin: 0 auto;
    font-size: 0.28rem;
    color: #888888;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    padding: 0.25rem 1.6rem; }

#join {
  padding: 0.5rem 0 0.8rem; }

#joinDetails .jdTop {
  border-bottom: 1px solid #e4e4e4;
  padding: 0.3rem 0; }
  #joinDetails .jdTop .joinTop {
    font-size: 0.3rem;
    text-indent: 0.3rem;
    line-height: 0.45rem;
    font-weight: bold;
    color: #333333; }
  #joinDetails .jdTop .joinBottom {
    margin-left: 0.3rem;
    font-size: 0.24rem;
    line-height: 0.45rem; }
    #joinDetails .jdTop .joinBottom > div {
      margin-right: 0.45rem; }
      #joinDetails .jdTop .joinBottom > div p {
        text-indent: 0.3rem;
        background: url(../img/join03.png) no-repeat left center;
        background-size: auto 0.22rem; }
    #joinDetails .jdTop .joinBottom > div:nth-child(2) p {
      background-image: url(../img/join04.png);
      background-size: auto 0.24rem; }
    #joinDetails .jdTop .joinBottom > div:nth-child(3) p {
      background-image: url(../img/join05.png);
      background-size: auto 0.24rem; }
#joinDetails .jdbBox {
  padding: 0.2rem 0; }
#joinDetails .jdBottom {
  width: 91.33%;
  margin: 0.2rem auto; }
  #joinDetails .jdBottom .jdbTitle {
    font-size: 0.28rem;
    line-height: 0.6rem;
    color: #333333;
    font-weight: bold; }
  #joinDetails .jdBottom .jdbContent {
    font-size: 0.26rem;
    color: #555555;
    line-height: 0.5rem; }
    #joinDetails .jdBottom .jdbContent p {
      text-align: justify; }
    #joinDetails .jdBottom .jdbContent > div p:nth-child(1) {
      width: 22.8%; }
    #joinDetails .jdBottom .jdbContent > div p:nth-child(2) {
      width: 77.2%; }
#joinDetails .apply {
  border-top: 1px solid #E4E4E4; }
  #joinDetails .apply a {
    display: block;
    width: 4.0rem;
    height: 0.9rem;
    font-size: 0.3rem;
    text-align: center;
    line-height: 0.9rem;
    margin: 0.6rem auto 0.8rem;
    border: 0;
    color: white;
    background-color: #1471c2; }
#joinApply{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0,0,0,0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	-webkit-flex-direction: column;
}
.joinApply{
	box-sizing: border-box;
	width: 100%;
	padding: 0.4rem;
	background: url(../img/joinBack.png) no-repeat left top;
	background-size: 100% 100%;
}
.applyOut{
	border: 1px solid #c8c8c8;
	box-sizing: border-box;
	padding: 0.4rem;
	position: relative;
}
.applyOut ul li{
	width: 100%;
	border: 1px solid #c8c8c8 ;
	height: 0.9rem;
	background: url(../img/join1.png) no-repeat 0.16rem center;
	background-size: 0.26rem auto;
	margin-bottom: 0.2rem;
}
.applyOut ul li.choice{
	border-color: #1471c2;
	background-image: url(../img/join11.png);
}
.applyOut ul li.choice>input::-ms-input-placeholder{
	color: #1471c2;
}
.applyOut ul li.choice>input::-webkit-input-placeholder{
	color: #1471c2;
}
.applyOut ul li.choice>input::-moz-placeholder{
	color: #1471c2;
}
.applyOut ul li:nth-child(2){
	background-image: url(../img/join2.png);
}
.applyOut ul li:nth-child(2).choice{
	background-image: url(../img/join22.png);
}
.applyOut ul li>input{
	display: block;
	height: 0.4rem;
	margin: 0.25rem 8% 0.25rem 10%;
	font-size: 0.28rem;
	border: 0px;
	width: 84%;
}
.applyOut ul li>input::-moz-placeholder{
	color: #888888;
}
.applyOut ul li>input::-ms-input-placeholder{
	color: #888888;
}
.applyOut ul li>input::-webkit-input-placeholder{
	color: #888888;
}
.applyOut ul li.txt{
	width: 100%;
	height: 2.4rem;
	background: none;
	margin-bottom: 0px;
}
.applyOut ul li textarea{
	width: 88%;
	text-align: justify;
	display: block;
	margin: 0.25rem auto;
	height: 1.9rem;
	line-height: 0.4rem;
	border: 0px;
	font-size: 0.28rem;
	resize: none;
}
.applyOut ul li textarea::-moz-placeholder{
	color: #888888;
}
.applyOut ul li textarea::-ms-input-placeholder{
	color: #888888;
}
.applyOut ul li textarea::-webkit-input-placeholder{
	color: #888888;
}
.applyOut ul li.choice textarea::-ms-input-placeholder{
	color: #1471c2;
}
.applyOut ul li.choice textarea::-webkit-input-placeholder{
	color: #1471c2;
}
.applyOut ul li.choice textarea::-moz-placeholder{
	color: #1471c2;
}
.applyOut ul li.flieBox{
	height: 1.2rem;
	border: 0;
	background: none;
	margin-bottom: 0px;
	position: relative;
}
.applyOut ul li.submit{
	margin-bottom: 0px;
	border: 0;
}
.applyOut ul li.submit input{
	margin: 0 ;
	width: 100%;
	height: 100%;
	border: 0;
	color: white;
	background: #1471c2;
	font-size: 0.36rem;
}
.applyOut ul li.flieBox p{
	font-size: 0.28rem;
	color: #888888;
	line-height: 1.2rem;
}
.applyOut ul li.flieBox .file{
	position: absolute;
	top:0.3rem;
	width: 1.6rem;
	height: 0.6rem;
	left: 1.3rem;
	border: 1px solid #b7dbfa;
	background-color: #ebf6ff;
	color: #1471c2;
	font-size: 0.24rem;
	text-align: center;
	line-height: 0.6rem;
	margin-top: -1px;
}
.applyOut ul li.flieBox .file input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.fileName{
	position: absolute;
	font-size: 0.24rem;
	top: 0.3rem;
	line-height: 0.6rem;
	left: 56%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	width: 44%;
}
.applyTitle{
	width: 1.8rem;
	text-align: center;
	margin: 0 auto 0.6rem;	
	position: relative;
	position: relative;
}
.applyTitle::before{
	content: "";
	position: absolute;
	width: 0.9rem;
	top: 50%;
	right: 100%;
	margin-top: -0.5px;
	border-bottom: 1px solid #1471c2;
}
.applyTitle::after{
	content: "";
	position: absolute;
	width: 0.9rem;
	top: 50%;
	left: 100%;
	margin-top: -0.5px;
	border-bottom: 1px solid #1471c2;
}
.applyTitle p:nth-child(1){
		font-size: 0.36rem;
		color: #1471c2;
	}
.applyTitle	p:nth-child(2){
		font-size: 0.18rem;
		color: #1471c2;
	}
	.closeJoin{
		position: absolute;
		width: 0.24rem;
		right: 0.3rem;
		top: 0.3rem;
	}
	.closeJoin img{
		width: 100%;
	}
/*# sourceMappingURL=join.css.map */
